  <!-- google广告 👇 -->
  <meta name="google-site-verification" content="GTONtcic5FicsMpYMrxWznMYnBbrcElVMRzob5Te2BQ" /> 
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({
      google_ad_client: "ca-pub-9104318899007816",
      enable_page_level_ads: true
    });
  </script>
  <meta charset="UTF-8" />
  <!-- <title>{{ page.title }}</title> -->
  <meta name="viewport" content="width=device-width" />
<!-- google广告 👆 -->