<!--First way-->
<div id="disqus_thread"></div>
<script type="text/javascript">
    var disqus_config = function() {
        // Here is an example,
        // this.page.url = "https://poanchen.github.io{{ page.url }}";
        this.page.url = "http://code4flutter.com{{ page.url }}";
        this.page.identifier = "{{ page.url }}";
    };

    // You should be able to get the following lines of code from your Disqus admin.
    // https://disqus.com/admin/universalcode
    (function() { // DON'T EDIT BELOW THIS LINE
        var d = document,
            s = d.createElement('script');
        s.src = '//geeklearn-1.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>
  Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a>
</noscript>

<!--Second way-->
<div id="disqus_thread"></div>
<script src="/path/to/your/disqus.js"></script>
<noscript>
  Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a>
</noscript>