<!DOCTYPE html>
<html>
{% include head.html %}
<body>
    <!--[if lt IE 10]>
<div class="alert-danger" role="alert">你的浏览器实在太太太旧了，放学别走，升级完浏览器再说！<a target="_blank" class="alert-link" href="http://browsehappy.com">立即升级</a></div>
<![endif]-->
    <input id="nm-switch" type="hidden" value="{{ site.nightMode }}">
    {{ content }}
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <!-- <script src="{{site.url}}assets/js/prism.js"></script> -->
<!--     <script src="{{site.url}}assets/js/index.min.js"></script> -->
    <script src="http://7xicym.com1.z0.glb.clouddn.com/1.0.0/index.min.js"></script>
    <script src="http://7xicym.com1.z0.glb.clouddn.com/1.0.0/prism.js"></script>

	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-105345433-1', 'auto');
	  ga('send', 'pageview');
	</script>
	
	<script>
		var _hmt = _hmt || [];
		(function() {
		  var hm = document.createElement("script");
		  hm.src = "https://hm.baidu.com/hm.js?9e9fe513e2562d5f9a06bd5a59825329";
		  var s = document.getElementsByTagName("script")[0]; 
		  s.parentNode.insertBefore(hm, s);
		})();
	</script>

</body>
</html>